.wrapper {
    max-width: $global-width;
    margin: auto;
    @include clearfix;
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);

    &.wrapper--compact {
        max-width: rem-calc(690);
        margin-top: rem-calc(30);
    }
}

.column-main {
    width: percentage(760/1170);

    @include breakpoint(768px down) {
        width: 100%;
    }
}

.column-main--left {
    float: left;
    @include breakpoint(768px down) {
        float: none;
    }
}

.column-sub {
    width: percentage(380/1170);
    @include breakpoint(768px down) {
        width: 100%;
    }
}

.column-sub--right {
    float: right;
    @include breakpoint(768px down) {
        float: none;
    }
}