.post {
    @extend %box;
    padding: ($global-padding * 2);
    margin-bottom: ($global-margin * 2);

    // deal with nested (i.e. events on homepage)
    .post {
        padding: 0;
        box-shadow: none;

        // the little underline
        &:after {
            content: "";
            display: block;
            width: 85px;
            height: 1px;
            background-color: map-get($foundation-palette, primary);
            position: relative;
            top: $global-margin;
            opacity: 0.3;
    
            @include breakpoint(768px down) {
                top: ($global-margin / 2);
            }
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

    }

    &.post--single {
        box-shadow: none;
    }

    @include breakpoint(768px down) {
        padding: $global-padding;
        margin-bottom: $global-margin;
    }
}

.post__title {
    font-weight: 700;
    line-height: 1.2;
    font-family: $body-font-family;
    font-size: rem-calc(32);
    margin-bottom: $global-margin;
    a {
        @extend %trans;
    }
    a:link {
        color: $body-font-color;
    }
    a:visited {
        color: mix(white,$body-font-color,50);
    }
    a:hover,a:focus {
        color: map-get($foundation-palette, primary);
    }
    a:focus {
        outline: 2px solid rgba(map-get($foundation-palette, primary),0.5);
    }
    a:active {color: map-get($foundation-palette, primary);}

    .post--single & {
        font-size: rem-calc(42);
        color: map-get($foundation-palette, dark-green);
        margin-bottom: ($global-margin * 2);
    }
}

.post__title--compact {
    font-size: rem-calc(18);
    margin-bottom: 0;
}

.post__date {
    font-size: rem-calc(15);
    font-family: $header-font-family;
}

.post__header {
     .post--single & {
        margin-bottom: ($global-margin * 2.5);
        padding-bottom: ($global-padding * 2);
        background: url(/assets/img/svg/swish.svg) no-repeat 50% 100%;
    }
}

.post__excerpt {
    margin-bottom: ($global-margin * 2);
}

.post__meta {
    height: 56px;
    background: #EBEDD3;
    position: relative;
    display: inline-block;
    left: -($global-padding * 2);
    padding: rem-calc(8) ($global-padding * 2);
    font-family: $header-font-family;
    font-size: rem-calc(11);
    font-weight: bold;
    @extend %uppercase;

    .media-object {
        margin-bottom: 0 !important
    }

    p {
        margin: 0;
        color: map-get($foundation-palette, dark-green)
    }

    b {
        color: $body-font-color;
    }

    &:before,
    &:after {
        content: "";
        background: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2230%22%20height%3D%2261%22%20viewBox%3D%220%200%2030%2061%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%200h30s-25%2018.5-25%2025.5%2025%2030.5%2025%2030.5h-30v-56z%22%20fill%3D%22%23EBEDD3%22%2F%3E%3Cpath%20fill%3D%22%23D4D0C3%22%20d%3D%22M0%2056h5v5z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
    }

    &:before {
        width: 5px;
        bottom: -5px;
        left: -5px;
    }

    &:after {
        width: 25px;
        right: -25px;
        background-position: 100% 0;
    }

    @include breakpoint(768px down) {
        padding: rem-calc(8) $global-padding rem-calc(8) ($global-padding * 2);
        height: auto;
        left: -$global-padding;

        &:before {
            background-position: 0 100%;
            background-color: #EBEDD3;
        }

        &:after {
            display: none;
        }

        .media-object-section {
            padding-right: 0 !important;
        }
    }

}

.post__meta__author-avatar {
    width: 40px;
    height: 40px;

    @include breakpoint(768px down) {
        display: none;
    }
}

// Used when meta data appears in the header of the posts page
.post__meta--header {
    background: none;
    margin-bottom: $global-margin;
    height: auto;
    left: 0;

    p {
        color: $body-font-color;
    }

    &:before,
    &:after {
        display: none;
    }

    .post__meta__author-avatar {
        width: 60px;
        height: 60px;
        display: inline-block;
        margin-bottom: rem-calc(10);
    }

}

.post__body {
    img {
        margin: auto;
        display: block;
    }
    img.wide {
        max-width: 160%;
        margin-left: -30%;
        margin-top: ($global-margin * 3);
        margin-bottom: ($global-margin * 3)
    }
}