.post {
    @extend %box;
    padding: ($global-padding * 2);
    margin-bottom: ($global-margin * 2);

    // deal with nested (i.e. events on homepage)
    .post {
        padding: 0;
        box-shadow: none;

        // the little underline
        &:after {
            content: "";
            display: block;
            width: 85px;
            height: 1px;
            background-color: map-get($foundation-palette, primary);
            position: relative;
            top: $global-margin;
            opacity: 0.3;
    
            @include breakpoint(768px down) {
                top: ($global-margin / 2);
            }
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

    }

    &.post--single {
        box-shadow: none;
    }

    @include breakpoint(768px down) {
        padding: $global-padding;
        margin-bottom: $global-margin;
    }
}

.post__title {
    font-weight: 700;
    line-height: 1.2;
    font-family: $body-font-family;
    font-size: rem-calc(32);
    margin-bottom: $global-margin;
    a {
        @extend %trans;
    }
    a:link {
        color: $body-font-color;
    }
    a:visited {
        color: mix(white,$body-font-color,50);
    }
    a:hover,a:focus {
        color: map-get($foundation-palette, primary);
    }
    a:focus {
        outline: 2px solid rgba(map-get($foundation-palette, primary),0.5);
    }
    a:active {color: map-get($foundation-palette, primary);}

    .post--single & {
        font-size: rem-calc(42);
        color: map-get($foundation-palette, dark-green);
        margin-bottom: ($global-margin * 2);
    }
}

.post__title--compact {
    font-size: rem-calc(18);
    margin-bottom: 0;
}

.post__date {
    font-size: rem-calc(15);
    font-family: $header-font-family;
}

.post__header {
     .post--single & {
        margin-bottom: ($global-margin * 2.5);
        padding-bottom: ($global-padding * 2);
        background: url(/assets/img/svg/swish.svg) no-repeat 50% 100%;
    }
}

.post__excerpt {
    margin-bottom: ($global-margin * 2);
}

.post__meta {
    @extend %uppercase, %meta;
    left: -($global-padding * 2);
    padding: rem-calc(8) ($global-padding * 2);
    font-family: $header-font-family;
    font-size: rem-calc(11);
    font-weight: bold;

    .media-object {
        margin-bottom: 0 !important
    }

    p {
        margin: 0;
        color: map-get($foundation-palette, dark-green)
    }

    b {
        color: $body-font-color;
    }


    @include breakpoint(768px down) {
        padding: rem-calc(8) $global-padding rem-calc(8) ($global-padding * 2);
        left: -$global-padding;

        .media-object-section {
            padding-right: 0 !important;
        }
    }

}

.post__meta__author-avatar {
    width: 40px;
    height: 40px;

    @include breakpoint(768px down) {
        display: none;
    }
}

// Used when meta data appears in the header of the posts page
.post__meta--header {
    background: none;
    margin-bottom: $global-margin;
    height: auto;
    left: 0;

    p {
        color: $body-font-color;
    }

    &:before,
    &:after {
        display: none;
    }

    .post__meta__author-avatar {
        width: 60px;
        height: 60px;
        display: inline-block;
        margin-bottom: rem-calc(10);
    }

}

.post__body {
    img {
        margin: auto;
        display: block;
    }
    img.wide {
        max-width: 160%;
        margin-left: -30%;
        margin-top: ($global-margin * 3);
        margin-bottom: ($global-margin * 3);
    
        @include breakpoint(768px down) {
            margin-left: 0;
            max-width: 100%;
        }
    }

}