---
comment: Index for Speaking category blog posts
section: speaking
title: The Last Pickle - Speaking
---

{% include pre.html %}

<!-- Page Header -->
{% include header.html %}
<!-- Main Content -->
<div id="content" role="main">

  <section class="section alt" id="promo">
    <div class="container">
      <div class="hero-unit">
        <h1>See & hear.</h1>
        <p>We are always looking to for opportunities to spread the Cassandra word. Get in <a href="/contact.html">touch</a> if you'd like to arrange a talk.</p>
      </div>
    </div>
  </section>
  
  <section class="section">
    <div class="container">
      <div class="row-fluid">
        <div class="span9">
          {% include speaking-list.html category="speaking" %}
        </div>
      </div>
    </div>
  </section>


</div>
<!-- Page Footer -->
{% include footer.html %}
    
{% include post.html %}
