.page-title {
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.2;
    font-family: $body-font-family;
}


@include breakpoint(980px down) {
    html {
        font-size: 95%;
    }
}
@include breakpoint(768px down) {
    html {
        font-size: 85%;
    }
}

a:focus {
    outline: none;
    outline: 1px solid rgba(map-get($foundation-palette, primary),0.5);
}

.contact-link {
    display: inline-block;
    padding-right: ($global-padding * 2);
    font-weight: bold;
}


// namespacing links
.content {
    a:link {
        border-bottom: 2px solid rgba(map-get($foundation-palette, primary),0.2);
    }

    a:hover,
    a:focus {
        border-bottom: 2px solid rgba(map-get($foundation-palette, primary),0.6);
    }

    h1,h2,h3 {
        font-weight: 800;
        color: map-get($foundation-palette, dark-green);
        margin-top: ($global-margin * 2)
    }

    h1 {
        font-size: rem-calc(map-deep-get($header-sizes, small, h2));
    }
    h2 {
        font-size: rem-calc(map-deep-get($header-sizes, small, h3));
    }
    h3 {
        font-size: rem-calc(map-deep-get($header-sizes, small, h4));
    }

    code {
        border-radius: $global-radius;
        font-size: 95%;
    }

    blockquote {
        font-family: $header-font-family;
        font-size: rem-calc(20);
        text-align: center;
        font-style: italic;

        cite {
            margin-top: $global-margin;
            font-style: normal;
            font-weight: 800;
        }
    }

}