.page-title {
    font-weight: 700;
    margin-bottom: rem-calc(20);
    line-height: 1.2;
    font-family: $body-font-family;
}


@include breakpoint(920px down) {
    html {
        font-size: 80%;
    }
}

a:focus {
    outline: none;
    outline: 1px solid rgba(map-get($foundation-palette, primary),0.5);
}