.page-title {
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.2;
    font-family: $body-font-family;
}


@include breakpoint(920px down) {
    html {
        font-size: 95%;
    }
}
@include breakpoint(768px down) {
    html {
        font-size: 85%;
    }
}

a:focus {
    outline: none;
    outline: 1px solid rgba(map-get($foundation-palette, primary),0.5);
}

// namespacing links
.content {
    a:link {
        border-bottom: 2px solid rgba(map-get($foundation-palette, primary),0.2);
    }

    a:hover,
    a:focus {
        border-bottom: 2px solid rgba(map-get($foundation-palette, primary),0.6);
    }
}