<!-- Footer Section -->
<footer class="section" id="footer" role="contentinfo">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <h3>Contact us</h3>
        <ul class="icons">
          <li>
            <i class="icon-envelope"></i>
            <a href="mailto:info@thelastpickle.com">Email</a>
          </li>
          <li>
            <i class="icon-twitter"></i>
            <a href="https://twitter.com/TheLastPickle" target="_blank">@TheLastPickle</a>
          </li>
        </ul>
      </div>
      <div class="span4">
        <h3>The Last Pickle</h3>
        <ul class="unstyled">
          <li>
            <h4>
              <a href="/about.html">About</a>
            </h4>
          </li>
          <li>
            <h4>
              <a href="/contact.html">Contact</a>
            </h4>
          </li>
          <li>
            <h4>
              <a href="/careers.html">Careers</a>
            </h4>
          </li>
        </ul>
      </div>

    </div>
  </div>
</footer>