<div id="site">
    <header role="banner" class="header{% if include.compact %} header--compact{% endif %}">
        <h1 class="logo logo--large"><a href="/"><svg aria-labelledby="tlp-logo-full-name"><use xlink:href="#tlp-logo-full"></use></svg></a></h1>
        <h1 class="logo logo--small"><a href="/"><svg aria-labelledby="tlp-logo-badge-name"><use xlink:href="#tlp-logo-badge"></use></svg></a></h1>
        <nav role="navigation">
            <ul class="list--unstyled menu">
                <li class="menu__item{% if page.section == 'services' %} is-active {% endif %}"><a href="/services.html" class="menu__link" title="Our services">What we do</a></li>
                <li class="menu__item{% if page.section == 'about' %} is-active {% endif %}"><a href="/about.html" class="menu__link" title="About us">Who we are</a></li>
                <li class="menu__item{% if page.section == 'blog' %} is-active {% endif %}"><a href="/blog/" class="menu__link" title="Articles, etc">Our blog</a></li>
                <li class="menu__item{% if page.section == 'speaking' %} is-active {% endif %}"><a href="/speaking/" class="menu__link" title="Talks, conferences &amp; meetups">Speaking</a></li>
            </ul>
        </nav>
    </header>