<div id="site">
    <header role="banner" class="header">
        <h1 class="logo logo--large"><a href="/"><img src="/assets/img/svg/site.svg#tlp-logo-full" alt="The Last Pickel Logo" width="604" height="73" /></a></h1>
        <h1 class="logo logo--small"><a href="/"><img src="/assets/img/svg/site.svg#tlp-logo-badge" alt="The Last Pickel Logo" width="604" height="73" /></a></h1>
        <nav role="navigation">
            <ul class="list--unstyled menu">
                <li class="menu__item{% if page.section == 'services' %} is-active {% endif %}"><a href="/services.html" class="menu__link" title="Our services">What we do</a></li>
                <li class="menu__item{% if page.section == 'about' %} is-active {% endif %}"><a href="/about.html" class="menu__link" title="About us">Who we are</a></li>
                <li class="menu__item{% if page.section == 'blog' %} is-active {% endif %}"><a href="/blog/" class="menu__link" title="Articles, etc">Our blog</a></li>
                <li class="menu__item{% if page.section == 'speaking' %} is-active {% endif %}"><a href="/speaking/" class="menu__link" title="Talks, conferences &amp; meetups">Speaking</a></li>
            </ul>
        </nav>
    </header>