<!-- Navigation -->
    <header id="masthead">
      <nav class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <h1 class="brand">
              <a href="index.html">
                The Last Pickle
                <!-- <i class="icon-beaker"></i> -->
              </a>
            </h1>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li class=""><a href="services.html">Services</a></li>
                <li class="{% if page.section == 'about' %} active {% endif %}"><a href="about.html">About</a></li>
                <li class=""><a href="blog.html">Blog</a></li>
                <li class=""><a href="careers.html">Careers</a></li>
                <li class=""><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>