<!-- People section-->
<section class="section">
  <div class="container">
    <div class="page-header">
      <h1>
        Who are we?
        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
      </h1>
    </div>
    <ul class="thumbnails bordered thumbnail-list">
      <li class="span4">
        <a href="about.html">
          <figure class="thumbnail-figure">
            <img alt="sdfgsdfg " src="images/assets/people1-600x400.jpeg" />
            <figcaption class="thumbnail-title">
              <h3>
                <span>Betty Doe</span>
              </h3>
              <p>
                <span>Managing director</span>
              </p>
            </figcaption>
          </figure>
        </a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </li>
      <li class="span4">
        <a href="about.html">
          <figure class="thumbnail-figure">
            <img alt="" src="images/assets/people6-600x400.jpeg" />
            <figcaption class="thumbnail-title">
              <h3>
                <span>Mary Doe</span>
              </h3>
              <p>
                <span>Assistant director</span>
              </p>
            </figcaption>
          </figure>
        </a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </li>
      <li class="span4">
        <a href="about.html">
          <figure class="thumbnail-figure">
            <img alt="" src="images/assets/people9-600x400.jpeg" />
            <figcaption class="thumbnail-title">
              <h3>
                <span>Sue Doe</span>
              </h3>
              <p>
                <span>SEO manager</span>
              </p>
            </figcaption>
          </figure>
        </a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </li>
    </ul>
  </div>
</section>