<!-- comments for a blog post -->

<div class="comments">
  <h3>Comments</h3>
  <div class="media media-comment">
    <a class="pull-left" href="#">
      <img alt="" class="media-objects img-circle" src="images/assets/people1-64x64.jpg" />
    </a>
    <div class="media-body">
      <p class="media-heading">
        John Doe, 12 Sep 2012.
        <a class="comment-reply pull-right">
          reply
        </a>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
      </p>
    </div>
  </div>
  <div class="media media-comment">
    <a class="pull-left" href="#">
      <img alt="" class="media-objects img-circle" src="images/assets/people3-64x64.jpg" />
    </a>
    <div class="media-body">
      <p class="media-heading">
        John Doe, 12 Sep 2012.
        <a class="comment-reply pull-right">
          reply
        </a>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
      </p>
      <div class="media media-comment">
        <a class="pull-left" href="#">
          <img alt="" class="media-objects img-circle" src="images/assets/people2-64x64.jpg" />
        </a>
        <div class="media-body">
          <p class="media-heading">
            John Doe, 12 Sep 2012.
            <a class="comment-reply pull-right">
              reply
            </a>
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
          <div class="media media-comment">
            <a class="pull-left" href="#">
              <img alt="" class="media-objects img-circle" src="images/assets/people3-64x64.jpg" />
            </a>
            <div class="media-body">
              <p class="media-heading">
                John Doe, 12 Sep 2012.
                <a class="comment-reply pull-right">
                  reply
                </a>
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="media media-comment">
    <a class="pull-left" href="#">
      <img alt="" class="media-objects img-circle" src="images/assets/people5-64x64.jpg" />
    </a>
    <div class="media-body">
      <p class="media-heading">
        John Doe, 12 Sep 2012.
        <a class="comment-reply pull-right">
          reply
        </a>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
      </p>
    </div>
  </div>
</div>
<div class="comments-form">
  <h3 class="comment-form">
    Add your comment
  </h3>
  <form class="form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input class="input-xxlarge" id="name" type="text" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input class="input-xxlarge" id="email" type="text" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="message">Your message</label>
        <div class="controls">
          <textarea class="input-xxlarge" id="message" rows="3"></textarea>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-primary" type="submit">Send email</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
        
