{% if page.categories %}
    {% assign category = page.categories[0] %}
    {% assign posts = site.categories[category] %}
    {% for post in posts %}
        {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
        {% endif %}
    {% endfor %}
    {% for post in posts %}
        {% if post_index0 == forloop.index %}
            {% assign next_post = post %}
        {% endif %}
        {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post %}
        {% endif %}
    {% endfor %}
{% endif %}

<nav class="post-nav">
    <div class="wrapper wrapper--compact">
        {% if prev_post %}
            <div class="post-nav__item post-nav__item--prev float-left">
                <a class="post-nav__link" href="{{prev_post.url}}">
                    <span class="post-nav__label">&larr; Previous post</span>
                    <span class="post-nav__post-title">{{prev_post.title}}</span>
                </a>
            </div>
        {% endif %}

        {% if next_post %}
            <div class="post-nav__item post-nav__item--next float-right">
                <a class="post-nav__link" href="{{next_post.url}}">
                    <span class="post-nav__label">Next post &rarr;</span>
                    <span class="post-nav__post-title">{{next_post.title}}</span>
                </a>
            </div>
        {% endif %}
    </div>
</nav>