<!-- The Side bar for a blog post -->

<aside class="span3 sidebar">
  <div class="sidebar-widget">
    <h2 class="sidebar-header">Search</h2>
    <div class="input-append">
      <input id="search-button" size="16" type="text" />
      <button class="btn" type="button">Go!</button>
    </div>
  </div>
  <div class="sidebar-widget">
    <h2 class="sidebar-header">About SmartBiz</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
    </p>
  </div>
  <div class="sidebar-widget">
    <h2 class="sidebar-header">Recent posts</h2>
    <ul class="unstyled">
      <li>
        <h4>
          <a href="#">Lorem ipsum dolor sit</a>
        </h4>
        <p>
          <small>November 12, 2012</small>
        </p>
      </li>
      <li>
        <h4>
          <a href="#">Ed do eiusmod tempor</a>
        </h4>
        <p>
          <small>August 23, 2012</small>
        </p>
      </li>
      <li>
        <h4>
          <a href="#">Incididunt ut labore</a>
        </h4>
        <p>
          <small>June 28, 2011</small>
        </p>
      </li>
      <li>
        <h4>
          <a href="#">Quis nostrud exercitation</a>
        </h4>
        <p>
          <small>June 25, 2011</small>
        </p>
      </li>
      <li>
        <h4>
          <a href="#">Labore et dolore</a>
        </h4>
        <p>
          <small>June 22, 2011</small>
        </p>
      </li>
    </ul>
  </div>
  <div class="sidebar-widget">
    <h2 class="sidebar-header">Popular posts</h2>
    <ul class="unstyled">
      <li>
        <h4>
          <a href="#">A responsive business theme</a>
        </h4>
        <p>
          <small>November 12, 2012</small>
        </p>
      </li>
      <li>
        <h4>
          <a href="#">Designed for big and small screens</a>
        </h4>
        <p>
          <small>August 23, 2012</small>
        </p>
      </li>
      <li>
        <h4>
          <a href="#">Based on bootstrap framework</a>
        </h4>
        <p>
          <small>July 22, 2011</small>
        </p>
      </li>
    </ul>
  </div>
</aside>
