<!-- Services Overview section -->
<section class="section alt" id="promo">
  <div class="container">
    <div class="hero-unit">
      <h1>Our Services.</h1>
      <p>We work with clients to deliver and improve Apache Cassandra based solutions.
      </p>
      <p>To do this we have a team of people who enjoy learning and sharing their knowledge with others. And who believe the best way to do that is to participate in Open Source communities. That has allowed us to build a wealth of experience with Apache Cassandra that we invest in our clients' success. 
      </p>
      <p>We help clients at all stages of their project life cycle. There is no such thing as a typical engagement, but we often assist with:
      </p>
      <ul>
        <li>Data Modelling</li>
        <li>Performance Tuning</li>
        <li>Proof of Concept</li>        
        <li>Capacity Planning</li>
        <li>Benchmarking</li>
        <li>Code Reviews</li>
        <li>Maintenance & Growth</li>
        <li>Operations Planning</li>
        <li>Architecture</li>
        <li>Configuration</li>
        <li>Installation</li>
        <li>Knowledge Transfer</li>
      </ul>
      <p><a href="/contact.html">Contact</a> us to discuss how we can help with your project.</p>
    </div>
  </div>
</section>