<!-- Team Entry for Aaron -->
<li class="span6">
    <figure class="thumbnail-figure">
      <img alt="" src="images/assets/alain-profile.jpg" />
      <figcaption class="thumbnail-title">
        <h3>
          <span>Alain Rodrigues</span>
        </h3>
        <p>
          <span>Consultant</span>
        </p>
      </figcaption>
    </figure>
  <p>Alain has been working with Apache Cassandra since version 0.8. He was the first Engineer at <a href="http://teads.tv">teads.tv</a> which had grown to 400+ employees by the time he left.</p>
  
  <p>During his time at Teads Alain managed and scaled Cassandra clusters across multiple AWS Regions. His experience with Cassandra from the early days has included upgrading hardware, growing capacity, upgrading, and tuning all the time maintaining Availability. He also evolved data models to take advantage of the latest features and performance as Cassandra improved. 
</p>    

  <p>Alain frequently contributes to the Apache Cassandra users <a href="http://www.mail-archive.com/user@cassandra.apache.org/">mailing list.</a>
  </p>
  <ul class="unstyled">
            <li>
            <i class="icon-envelope"></i>
            <a href="mailto:alain@thelastpickle.com">Email</a>
          </li>
                    <li>
            <i class="icon-twitter"></i>
            <a href="https://twitter.com/arodream" target="_blank">@arodream</a>
          </li>
                    <li>
            <i class="icon-linkedin"></i>
            <a href="https://fr.linkedin.com/in/arodrime/en" target="_blank">https://fr.linkedin.com/in/arodrime/en</a>
          </li>
          </ul>
</li>
</li>