<!-- Team Entry for Nate -->
<li class="span6">
  <a href="#">
    <figure class="thumbnail-figure">
      <img alt="" src="images/assets/zznate_ds_profile-600x400.jpg" />
      <figcaption class="thumbnail-title">
        <h3>
          <span>Nate McCall</span>
        </h3>
        <p>
          <span>Senior Technical Consultant</span>
        </p>
      </figcaption>
    </figure>
  </a>
  <p>
    <p>Nate McCall has over 13 years of server side systems and software development experience. Most recently, he was development lead for the AppServices platform at Apigee. Among the many day to day tasks of coding, scheduled and team management on the core product, he also worked directly with Fortune 500 clients on deploying and tuning multi-datacenter Cassandra clusters for Apigee products.</p>   
    <p>Prior to Apigee, Nate was an early employee at DataStax where he held several positions including team lead for DataStax Enterprise, and developer evangelist - all while occasionally conducting Apache Cassandra training sessions for DataStax customers.</p>
    <p>Nate is a frequent speaker at meetups and conferences including Oracle’s JavaOne, Apache Software Foundation's ApacheCon and O’Reilly’s Strata and OSCON. Nathan is also co-founder of the Cassandra-Austin and Austin Hadoop Users meetup groups in Austin, TX and is was recognized as a DataStax MVP for his involvement with the Cassandra community.</p>
    <p>Nate started his involvement in the Cassandra community in the late fall of 2009 where he became one of the original developers on the Hector Java client for which he is still lead developer and release manager. Nathan has contributed a number of patches over the years to the Apache Cassandra code base and continues to be actively involved on the mail lists, issue system and IRC.</p>  
  </p>
  <ul class="unstyled">
            <li>
            <i class="icon-envelope"></i>
            <a href="mailto:nate@thelastpickle.com">Email</a>
          </li>
                    <li>
            <i class="icon-twitter"></i>
            <a href="https://twitter.com/zznate" target="_blank">@zznate</a>
          </li>
                    <li>
            <i class="icon-linkedin"></i>
            <a href="http://www.linkedin.com/in/zznate" target="_blank">http://www.linkedin.com/in/zznate</a>
          </li>
          </ul>
</li>