<!-- Team Entry for Aaron -->
<li class="span6">
    <figure class="thumbnail-figure">
      <img alt="" src="images/assets/patricia-profile.jpg" />
      <figcaption class="thumbnail-title">
        <h3>
          <span>Patricia Gorla</span>
        </h3>
        <p>
          <span>Cassandra Consultant</span>
        </p>
      </figcaption>
    </figure>

    <p>Patricia Gorla has been involved in application development, server administration, data analysis and data storage.
    </p>
    <p>At OpenSource Connections, Patricia helped companies and governmental entities migrate to non-relational data stores such as Cassandra and Solr. She was also involved in training technical teams on the new systems.
    </p>

    <p>She helped the US Patent &amp; Trademark Office ingest more than 6 million patent documents and images; architected secure search systems for a large mortgage insurer; and introduced Cassandra to a digital marketing firm's data pipeline.
    </p>

    <p>Prior to OpenSource Connections she worked on analysing and visualising data at HelloWallet.
    </p>

    <p>Patricia <a href="/speaking">speaks</a> often at conferences and meetups such as O'Reilly's StrataConf + Hadoop World, the Datastax Cassandra Summits, and local user groups. She was also voted a DataStax MVP for Apache Cassandra by the community.
    </p>


  <ul class="unstyled">
            <li>
            <i class="icon-envelope"></i>
            <a href="mailto:patricia@thelastpickle.com">Email</a>
          </li>
                    <li>
            <i class="icon-twitter"></i>
            <a href="https://twitter.com/patriciagorla" target="_blank">@patriciagorla</a>
          </li>
                    <li>
            <i class="icon-linkedin"></i>
            <a href="http://www.linkedin.com/in/patriciagorla" target="_blank">http://www.linkedin.com/in/patriciagorla</a>
          </li>
          </ul>
</li>
</li>
