<!-- Team Entry for Rebecca -->
<li class="span6">
    <figure class="thumbnail-figure">
      <img alt="" src="images/assets/rebecca-profile.jpg" />
      <figcaption class="thumbnail-title">
        <h3>
          <span>Rebecca Downes</span>
        </h3>
        <p>
          <span>Business Operations</span>
        </p>
      </figcaption>
    </figure>
  <p>
    Rebecca comes to TLP with +15 years experience managing teams: from
    infrastructure engineers to software developers, visual effects artists to
    facilities staff. Rebecca started her career in the Film and
    Visual Effect industry, working in a variety of roles
    including systems administration, managing in-house information
    management systems development, project manager, facilities manager, and
    as a visual effects producer. Rebecca has also lead technical support teams
    and managed infrastructure and DBA teams. At The Last Pickle, Rebecca manages
    business operations including sales, finance, and project management.
  </p>
  <ul class="unstyled">
            <li>
            <i class="icon-envelope"></i>
            <a href="mailto:rebecca@thelastpickle.com">Email</a>
          </li>
                    <li>
            <i class="icon-twitter"></i>
            <a href="https://twitter.com/beccadownes" target="_blank">@beccadownes</a>
          </li>
                    <li>
            <i class="icon-linkedin"></i>
            <a href="https://www.linkedin.com/in/beccadownes" target="_blank">https://www.linkedin.com/in/beccadownes</a>
          </li>
          </ul>
</li>
</li>
