<!-- Team Entry for Nate -->
<li class="span6">
  <a href="#">
    <figure class="thumbnail-figure">
      <img alt="" src="images/assets/people1-600x400.jpeg" />
      <figcaption class="thumbnail-title">
        <h3>
          <span>Nate McCall</span>
        </h3>
        <p>
          <span>Dude</span>
        </p>
      </figcaption>
    </figure>
  </a>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
  </p>
</li>