<!-- Team Entry for Aaron -->
<li class="span6">
    <figure class="thumbnail-figure">
      <img alt="" src="images/assets/aaron-profile.jpg" />
      <figcaption class="thumbnail-title">
        <h3>
          <span>Aaron Morton</span>
        </h3>
        <p>
          <span>Principal Consultant</span>
        </p>
      </figcaption>
    </figure>
  <p>Aaron Morton has been working with software for over 17 years. In 2011 he left a position at the VFX company Weta Digital in Wellington to pursue his interests in Cassandra. Since then he's been helping clients around the world get the best out of Cassandra. While contributing to the project and the community through involvement in the user list and IRC channels, and code contributions.
  </p> 
  <p>At Weta Digital he piloted the use of Cassandra to provide database services that could stand up to the render farm of 35,000 cores. The key concern at Weta was how to design a scalable persistence layer they could maintain availability in the face of hardware failure and errant clients.
  </p>
  <p>Prior to Weta he worked on large E-Commerce projects in London and created a Content Management System for the National BBC Radio stations.
  </p>
  
  <p>
    Aaron frequently <a href="/speaking">speaks</a> at meetups and conferences such as the DataStax Cassandra Summits and the Apache Software Foundation's ApacheCon. He runs the <a href="http://www.meetup.com/Data-Driven-Wellington/">Data Driven Wellington</a> meetup group to encourage local engineers to explore new technology. Aaron is also a committer for Apache Cassandra and was voted a DataStax MVP for Apache Cassandra by the community.
  </p>
  <ul class="unstyled">
            <li>
            <i class="icon-envelope"></i>
            <a href="mailto:aaron@thelastpickle.com">Email</a>
          </li>
                    <li>
            <i class="icon-twitter"></i>
            <a href="https://twitter.com/aaronmorton" target="_blank">@aaronmorton</a>
          </li>
                    <li>
            <i class="icon-linkedin"></i>
            <a href="http://www.linkedin.com/in/aaronmortonnz" target="_blank">http://www.linkedin.com/in/aaronmortonnz</a>
          </li>
          </ul>
</li>
</li>