<!-- Team Entry for Aaron -->
<li class="span6">
    <figure class="thumbnail-figure">
      <img alt="" src="images/assets/patricia-profile.jpg" />
      <figcaption class="thumbnail-title">
        <h3>
          <span>Patricia Gorla</span>
        </h3>
        <p>
          <span>Cassandra Architect</span>
        </p>
      </figcaption>
    </figure>

    <p>Patricia Gorla has been involved in all aspects of software development, from server administration to application development, and from data analysis to data storage.
    </p>
    <p>At OpenSource Connections, Patricia worked with companies and governmental entities on all aspects of data migration to non-relational data stores, and training the technical teams on the new architecture.
    </p>

    <p>She helped the US Patent &amp; Trademark Office ingest more than 6 million patent documents and images; architect secure search systems for a large mortgage insurer; and introduce Cassandra to a digital marketing firm's data pipeline.
    </p>

    <p>Prior to OpenSource Connections she focused on the analysis and visualization of data at HelloWallet.
    </p>

    <p>Patricia <a href="/speaking">speaks</a> often at conferences and meetups such as O'Reilly's StrataConf + Hadoop World, the Datastax Cassandra Summits, and local user groups. She was also voted a DataStax MVP for Apache Cassandra by the community.
    </p>


  <ul class="unstyled">
            <li>
            <i class="icon-envelope"></i>
            <a href="mailto:patricia@thelastpickle.com">Email</a>
          </li>
                    <li>
            <i class="icon-twitter"></i>
            <a href="https://twitter.com/patriciagorla" target="_blank">@patriciagorla</a>
          </li>
                    <li>
            <i class="icon-linkedin"></i>
            <a href="http://www.linkedin.com/in/patriciagorla" target="_blank">http://www.linkedin.com/in/patriciagorla</a>
          </li>
          </ul>
</li>
</li>
