<!-- Team Entry for Kareem -->
<li class="span6">
    <figure class="thumbnail-figure">
      <img alt="" src="images/assets/kareem-profile.jpg" />
      <figcaption class="thumbnail-title">
        <h3>
          <span>Kareem Missoumi</span>
        </h3>
        <p>
          <span>Consultant</span>
        </p>
      </figcaption>
    </figure>
  <p>Kareem comes to TLP from Accenture where he worked as a Business Process Architect.
    He specialises in automation and orchestration of distributed systems.  Recent initiatives include designing and
    implementing the Continuous Integration/Delivery components of an API platform deployed on Cloud via OpenStack,
    using Chef and Jenkins, amongst other tools.  Kareem believes in helping to grow DevOps culture within organisations;
    breaking away from sandboxed processes and shifting focus to collaboration and rapid, iterative innovation.
  </p>

  <ul class="unstyled">
            <li>
            <i class="icon-envelope"></i>
            <a href="mailto:kareem@thelastpickle.com">Email</a>
          </li>
                    <li>
            <i class="icon-twitter"></i>
            <a href="https://twitter.com/kmissoumi" target="_blank">@kmissoumi</a>
          </li>
                    <li>
            <i class="icon-linkedin"></i>
            <a href="https://www.linkedin.com/pub/kareem-missoumi/6/414/a37" target="_blank">Linked In</a>
          </li>
          </ul>
</li>
</li>
