<!-- Team Entry for Mick -->
<li class="span6">
    <figure class="thumbnail-figure">
      <img alt="" src="images/assets/mick-profile.jpg" />
      <figcaption class="thumbnail-title">
        <h3>
          <span>Mick Semb Wever</span>
        </h3>
        <p>
          <span>Consultant</span>
        </p>
      </figcaption>
    </figure>
  <p>
    Mick designs, builds, and is an evangelist for distributed systems, from
    data-driven backends using Cassandra, Hadoop, Spark, to enterprise Microservices platforms.
  </p>
  <p>
    Prior to TLP he spent seven years at FINN.no building a microservices platform,
    along with introducing data-driven solutions and architecture based on Cassandra.
    Mick has become an advocate for change towards microservices built upon modern
    data-driven practices that introduce eventually consistent highly available
    solutions using Apache technologies like Cassandra, Hadoop, Spark, and Kafka.
  </p>
  <p>
    Mick has always had a keen involvement in open source code, contributing to
    codebases along the way. He is a PMC Chair for Apache Tiles and
    a DataStax MVP for Apache Cassandra.
  </p>
  <ul class="unstyled">
            <li>
            <i class="icon-envelope"></i>
            <a href="mailto:mick@thelastpickle.com">Email</a>
          </li>
                    <li>
            <i class="icon-twitter"></i>
            <a href="https://twitter.com/mck_sw" target="_blank">@mck_sw</a>
          </li>
                    <li>
            <i class="icon-linkedin"></i>
            <a href="https://www.linkedin.com/pub/mick-semb-wever/20/487/917" target="_blank">LinkedIn</a>
          </li>
          </ul>
</li>
</li>
