---
comment: Index for blog posts
title: Our Blog &bull; The Last Pickle
bodyClass: blog-index page
---

{% include pre.html %}
    <!-- Page Header -->
    {% include header.html compact=true %}
    <!-- Main Content -->
    <main role="main">
        <header class="page-header">
            <div class="wrapper">
                <h1 class="page-title">Our blog</h1>
                <p class="lead hide-for-small-only">Our team enjoy learning and share our knowledge through our open source community involvement. Read our blog posts below to reup your Cassandra knowlege.</p>
            </div>
        </header>
        <section class="page-content wrapper wrapper--compact ">
            {% for post in site.categories.blog %}
                {% include the-post.html excerpt=true %}
            {% endfor %}
          <ul class="pager">
            {% if paginator.previous_page %}
              <li class="previous">
                
                <a href="{% if paginator.previous_page ==1 %}/blog/index.html{% else %}/blog/page{{ paginator.previous_page }} {% endif %}">
                  <i class="icon-chevron-left"></i>
                  Newer
                </a>
              </li>
            {% endif %}
            {% if paginator.next_page %}
              <li class="next">
                <a href="/blog/page{{ paginator.next_page }}">
                  Older
                  <i class="icon-chevron-right"></i>
                </a>
              </li>
            {% endif %}
          </ul>
        </section>
    </main>
    <!-- Page Footer -->
    {% include footer.html %}
{% include post.html %}