@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
body {
  font-family: 'Lato', Arial, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', Arial, serif;
  font-weight: 700;
}
