<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Last Pickle - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Last Pickle">
    <meta name="author" content="Aaron Morton">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <!-- Le fav and touch icons -->
    <!-- <link rel="shortcut icon" href="/img/favicon.ico"> -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"> -->
    
    <link rel="alternate" type="application/atom+xml" title="Aaron Morton - Atom" href="http://feeds.feedburner.com/AaronMorton" />
    {% for category in site.categories %}
      <link rel="alternate" type="application/atom+xml" title="Aaron Morton - Atom - {{ category[0] }}" href="http://thelastpickle.com/{{ site.category_dir }}/{{ category[0] }}/index.xml" />
    {% endfor %}

  </head>

  <body>
    <div class="container">

      <div class="row masthead">
        <div class="span6">
          <h1>Aaron Morton
              <p><small><a href="/about.html">Hire Me</a></small></p></h1>
        </div>
        <div class="span3">
          <ul class="unstyled">
            <li>
              <p><h4><a href="/previously.html">Previously...</a></h4></p>
            </li>
            <li>
              <p><h4><a href="http://twitter.com/aaronmorton">@aaronmorton</a></h4><p>
            </li>
            <li>
              <p><h4><a href="https://github.com/amorton">github.com</a></h4></p>
            </li>
          </ul>
        </div>

        <div class="span3">
          <p><h4><a href="/speaking.html">Speaking...</a></h4></p>
          <!-- <ul class="unstyled">
            <li>
                <p><a href="http://www.datastax.com/company/news-and-events/events/cassandrasummit2013">Cassandra Summit 2013, June 11&12</a>&nbsp;Cassandra Internals; In Case of Emergency, Break Glass</p> 
            </li>
          </ul> -->
        </div>
      </div>
    
      <div class="row content">
        <div class="span10 offset1">
          {{ content }}
        </div>
      </div>

      <div class="row">
        <div class="span10 offset1 well">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/nz/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/nz/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/nz/">Creative Commons Attribution-NonCommercial 3.0 New Zealand License</a>.
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21087208-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
