---
comment: Layout for a blog post
---

{% include pre.html %}

<!-- Page Header -->
{% include header.html %}
<!-- Main Content -->
<div id="content" role="main">


<!-- Main Content -->
<section class="section">
  <div class="container">
    <div class="row-fluid">
      <div class="span9">
        <article class="blog-post">
          <header class="blog-header">
            <h2>
              {{ page.title }}
              <small>
                by
                {{ page.author }},
                {{ page.date | date_to_long_string }}.
              </small>
            </h2>
          </header>
          {{ content }}
          <footer class="blog-footer row-fluid">
            <div class="span4 blog-tags">
              <i class="icon-tags"></i>
                {% for tag in page.tags %}
                  {{ tag }}
                {% endfor %}
            </div>
            <!-- <div class="span4 blog-more">
              <i class="icon-comments">
                5 comments
              </i>
            </div> -->
          </footer>
        </article>
        {% include post-comments.html %}
      </div>

    </div>
  </div>
</section>

</div>
<!-- Page Footer -->
{% include footer.html %}
    
{% include post.html %}
